@page "/gallery"
@using Wabbajack.Web.Services
@using Wabbajack.DTOs
@using Wabbajack.Web.Pages.ModlistArchiveSearch
@using Wabbajack.Web.Pages.ModlistInfo
@using Wabbajack.Web.Utils
@inject IStateContainer _stateContainer;
@inject GalleryState _galleryState;

<PageTitle>Gallery | Wabbajack</PageTitle>

<div class="px-1 md:p-16">
    <h1 class="font-semibold my-1 text-4xl text-center">Gallery</h1>

    <div class="mb-3 flex flex-wrap items-end justify-end md:gap-4">
        <label for="show-nsfw" class="w-full md:w-auto font-semibold text-lg inline-flex items-center mt-1">
            Show NSFW:
            <input @bind="_galleryState.ShowNsfw" id="show-nsfw" type="checkbox" class="ml-2 h-5 w-5"/>
        </label>

        <div class="w-full md:w-auto">
            <label for="select-game" class="font-semibold text-lg">Select Game:</label>
            <select @bind="_galleryState.SelectedGame" id="select-game" class="w-full p-2 text-black-900 bg-white rounded-md">
                <option value="@GalleryState.All">@GalleryState.All</option>

                @foreach (var game in AllGames)
                {
                    <option value="@game">@game</option>
                }
            </select>
        </div>
    </div>

    <div class="mb-5 flex flex-wrap gap-3">
        @foreach (var (tagName, modlistCount) in AllTags)
        {
			var tagSelected = _galleryState.SelectedTags.Contains(tagName, StringComparer.OrdinalIgnoreCase);
			var selectedStyles = tagSelected ? "bg-wabbajack-purple text-white" : "border-2 border-gray-200";
			<div @key="tagName" class="flex items-center justify-center rounded-md px-2 py-1 @(selectedStyles)">
                <button @onclick="@(() => SelectTag(tagName))">
					@tagName (@modlistCount.ToString())
				</button>
            </div>
        }
    </div>

    @if (_errorLoadingModlists)
    {
        @ErrorComponent.RenderError("Unable to load Modlists from Github!")
    } else if (!_modlists.Any())
    {
        @LoadingComponent.RenderLoadingThing("Loading Modlists...")
    }
    else
    {
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 3xl:grid-cols-4 items-start">
            @foreach (var modlist in FilteredModlists)
            {
                <section @key="modlist.Title" class="bg-black-700 rounded-md shadow-md">
                    @_renderModlistInfo(modlist)
                </section>
            }
        </div>
    }
</div>

@code {
    public const string Route = "/gallery";

    private bool _shouldRender;
    protected override bool ShouldRender() => _shouldRender;

    private List<ModlistMetadata> _modlists;
    private IEnumerable<ModlistMetadata> FilteredModlists => _modlists
        .Where(x => _galleryState.ShowNsfw || !x.NSFW)
        .Where(x =>
        {
            if (_galleryState.SelectedGame == GalleryState.All) return true;
            return x.Game == _gamesByName[_galleryState.SelectedGame];
        })
        .Where(x =>
        {
            if (_galleryState.SelectedTags.Count == 0) return true;
            return _galleryState.SelectedTags.All(tag => x.tags.Contains(tag, StringComparer.OrdinalIgnoreCase));
        });

    private Dictionary<string, Game> _gamesByName = new();
    private IEnumerable<string> AllGames => _gamesByName
        .Select(x => x.Key)
        .OrderBy(x => x, StringComparer.OrdinalIgnoreCase);

    private Dictionary<string, int> AllTags => _modlists
        .SelectMany(x => x.tags)
        .Distinct(StringComparer.OrdinalIgnoreCase)
        .OrderBy(x => x, StringComparer.OrdinalIgnoreCase)
        .Select(x => (x, FilteredModlists.Count(y => y.tags.Contains(x, StringComparer.OrdinalIgnoreCase))))
        .ToDictionary(x => x.x, x => x.Item2, StringComparer.OrdinalIgnoreCase);

    private bool _errorLoadingModlists;

    protected override async Task OnInitializedAsync()
    {
        _galleryState.GetValuesFromQueryString();
        _galleryState.UpdateQueryString();

        if (!_stateContainer.Modlists.Any())
        {
            var res = await _stateContainer.LoadModlistMetadata();

            if (!res)
            {
                _errorLoadingModlists = true;
                _shouldRender = true;
                return;
            }
        }

        _modlists = _stateContainer.Modlists.OrderBy(_ => Guid.NewGuid()).ToList();

        _gamesByName = _modlists
            .Select(x => x.Game)
            .Distinct()
            .ToDictionary(x => x.GetDescription(), x => x, StringComparer.OrdinalIgnoreCase);

        if (_galleryState.SelectedGame != GalleryState.All && !_gamesByName.ContainsKey(_galleryState.SelectedGame))
            _galleryState.SelectedGame = GalleryState.All;

        _shouldRender = true;
    }

    private void SelectTag(string tag)
    {
        if (tag == string.Empty) return;

        if (_galleryState.SelectedTags.Contains(tag))
            _galleryState.SelectedTags.Remove(tag);
        else
            _galleryState.SelectedTags.Add(tag);

        _galleryState.UpdateQueryString();
    }

    // DO NOT CHANGE "__builder"
    // ReSharper disable InconsistentNaming
    // ReSharper disable once UnusedParameter.Local
    private readonly RenderFragment<ModlistMetadata> _renderModlistInfo = modlist => __builder =>
    {
        var readme = modlist.Links.Readme;
        var viewLink = LinkUtils.CanRenderReadme(readme)
            ? ModlistInfo.CreateRedirect(modlist.Links.MachineURL)
            : readme;
        var archiveSearchLink = ModlistArchiveSearch.CreateRedirect(modlist.Links.MachineURL);

        <div>
            <img src="@modlist.Links.ImageUri"
                 alt="Image of the Modlist @modlist.Title"
                 loading="lazy"
                 crossorigin="anonymous"/>
            <div class="p-4">
                <h2 class="font-title font-semibold text-2xl">@modlist.Title</h2>
                <h3 class="font-subtitle font-light text-lg">Created by @modlist.Author</h3>
                <p class="mt-1 font-normal text-base">@modlist.Description</p>
                <p class="mt-2 font-medium text-md">Game: @modlist.Game.GetDescription()</p>

                <div class="flex flex-wrap gap-1">
                    <p class="font-medium text-md">Tags:</p>
                    @foreach (var tag in modlist.tags)
                    {
                        <p @key="tag" class="text-white bg-wabbajack-purple rounded-md px-2">@tag</p>
                    }
                </div>

                <div class="mt-4 flex flex-nowrap justify-between">
                    <a href="@archiveSearchLink" class="py-1 px-5 font-semibold rounded-lg shadow-md text-white bg-wabbajack-green">
                        Archive Search
                    </a>
                    <a href="@viewLink" class="py-1 px-5 font-semibold rounded-lg shadow-md text-white bg-wabbajack-green">
                        View
                    </a>
                </div>
            </div>
        </div>
    };

}
